* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #191919;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav-bar > nav {
  position: absolute;
  width: 100vw;
  height: 12vh;
  /* background-color: rgba(255, 0, 0, 0.212); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 30px;
  margin: 2px 0px;
}

#nav-bar-left> .ri-menu-line{
    color: white;
    font-size: 30px;
    margin-right: 2rem;
    /* background-color: red; */
}
#nav-bar-left>a{
    text-decoration: none;
}
.ri-github-fill{
    color: white;
    font-size: 34px;
    transition: all ease .25s;
    /* background-color: blue; */
    text-decoration: none;
    
}
.ri-github-fill:hover{
    text-decoration:underline;
}

#navigation-button {
  padding: 10px 18px;
  background-color: transparent;
  border: .5px solid rgb(1, 150, 177);
  color: white;
  border-radius: 25px;
  transition: all ease 0.25s;
  box-shadow: none;
  background-position: center;
  margin-right: 10px;
}

#navigation-button:hover {
  /* backdrop-filter: blur(2px); */
  padding: 11px 25px;
  background-color: rgb(1, 150, 177);
}
