* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-image: url(../static/background-image-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#nav-bar > nav {
  position: absolute;
  width: 100vw;
  height: 12vh;
  /* background-color: rgba(255, 0, 0, 0.212); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 30px;
  margin: 2px 0px;
}

#nav-bar-left > .ri-menu-line {
  color: white;
  font-size: 30px;
  margin-right: 2rem;
  /* background-color: red; */
}
#nav-bar-left > a {
  text-decoration: none;
}
.ri-github-fill {
  color: white;
  font-size: 34px;
  transition: all ease 0.25s;
  /* background-color: blue; */
  text-decoration: none;
}
.ri-github-fill:hover {
  text-decoration: underline;
}

#primary-button {
  padding: 10px 18px;
  background-color: transparent;
  border: 0.5px solid rgb(1, 150, 177);
  color: white;
  border-radius: 25px;
  transition: all ease 0.25s;
  box-shadow: none;
  background-position: center;
  margin-right: 10px;
}

#primary-button:hover {
  /* backdrop-filter: blur(2px); */
  padding: 11px 25px;
  background-color: rgb(1, 150, 177);
}
/* LOGIN Heading - 1 */
#heading-box {
  position: absolute;
  height: 10vh;
  width: 100vw;
  /* background-color: red; */
  margin-top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#heading-box > h1 {
  position: relative;
  color: white;
  font-family: Jost;
  font-size: 50px;
  text-align: center;
}

#heading-box > p {
  /* position: absolute; */
  color: white;
  font-family: Jost;
  text-align: center;
}

#search {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 40px;
  padding: 5px;
  border-radius: 40px;
  border: 1px solid white;
  margin-bottom: 10px;
  /* background-color: red; */
}

.container {
  color: white;
}

#heading-box > #p3 {
  font-size: 40px;
}

#cards-grid {
  width: 80vw;
  height: 50vh;
  position: absolute;
  /* background-color: red; */
  margin-top: 14%;
  margin-left: 10%;
}

#container-city1,
container-city2,
container-city3 {
  /* background-color: blue; */
  height: 20vh;
  width: 40vw;
}

#col1 {
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid white;
  font-family: Jost;
}

#col2 {
  background-color: red;
}

#col3 {
  background-color: magenta;
}

#col4 {
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: 30vw;
  border: 1px solid white;
  font-family: Jost;
}

#search {
  margin: 20px 0px;
  text-align: center;
}

#container-city4 {
  display: none;
  margin-left: 350px;
  /* transform: translateX(-5-); */
}

#search-button {
  width: 100px;
  height: 40px;
  background-color: rgb(1, 150, 177);
  border-radius: 25px;
  border: 1px solid white;
  color: white;
  margin-left: 4px;
}

/* just changed folder */
